# 1. 입출력문 및 연산자

1120번

In [31]:
a,b,c = map(int,input().split())

print(format((a+b+c)/3,'.2f'))

2.00

1123번

In [41]:
a = int(input())

c = 9/5 * a + 32

print(format((c),'.3f'))

86.000

1125번

In [42]:
a = int(input())

print( '%o'%a, '%X'%a)

12 A

1132번

In [47]:
a = input()

print('%s'%a)

cat

# 2. if ~else

In [105]:
a,b,c = map(int,input().split())

d = (a-b+c)

print('대박') if d % 10 == 0 else print("그럭저럭")

대박

1163번

In [9]:
a,b,c = map(int,input().split())
d = a + b + c
f = int(d / 100)

print('대박') if f % 2 == 0 else print('그럭저럭')

그럭저럭

1165번

In [14]:
a, b =  map(int,input().split())

c = 0

while a < 90 :
    a += 5
    c += 1

print(c+b)

6

1167번

In [35]:
a = list(map(int,input().split()))

a.sort()

print(a[1])

20

1168번

In [44]:
a, b = map(int,input().split())

c = int(a / 10000)

if b == 1 or b == 2:
    print(2013 - (c+1900))
else:
    print(2013 - (c+2000))

34

1169번

In [50]:
a = int(input())

b = 2013 -a
c = b % 100

print(c,1) if b < 2000 else print(c,3)

95 1

1170번

In [60]:
a,b,c = map(int,input().split())

print(f"{a}{b}"+format(c,'02'))

3102

1172번

In [75]:
a  = list(map(int,input().split()))

a.sort()

for i in range(3):
    print(a[i], end=' ')

6 7 8

1173번

In [86]:
h,m = map(int,input().split())

if m - 30 < 0:
    if h <= 0 :
        h += 23
    else:
        h -= 1
    m += 30
    print(h,m)
else:
    print(h,m-30)

10 35

1180번

In [124]:
a = input()

b = a[1]+a[0]
b = int(b) * 2

if b >= 100 :
    b = b % 100
    
if b <= 50 :
    print(b)
    print('GOOD')
else:
    print(b)
    print('OH MY GOD')

42
GOOD

1204번

In [13]:
a = int(input())

if a % 10 == 1 :
    print(f'{a}th') if a == 11 else print(f'{a}st')
elif a % 10 == 2:
    print(f'{a}th') if a == 12 else print(f'{a}nd')
elif a % 10 == 3:
    print(f'{a}th') if a == 13 else print(f'{a}rd')
else:
    print(f'{a}th')

2nd

1205번

In [18]:
a,b = map(float,input().split())

c = [(a+b), (b+a),(a-b),(b-a),(a*b),(b*a),(a/b),(b/a),(a ** b),(b ** a)]

print(format(max(c),'.6f'))

3.000000

1027번

In [32]:
a= list(map(int,input().split()))

b = a.count(1)

if b == 0 :
    print('모')
elif b == 1:
    print('도')
elif b == 2:
    print('개')
elif b == 3:
    print('걸')
else:
    print('윷')

도

1210번

In [28]:
menu = [0,400,340,170,100,70]

a,b = map(int,input().split())
sum = menu[a] + menu[b]

print("angry") if sum > 500 else print("no angry")

angry

1212번

In [48]:
a = list(map(int,input().split()))
a.sort()

if a[2] < a[1] + a[0]:
    print('yes')
else:
    print('no')

no

1214번

In [61]:
a,b = map(int,input().split())

c = 28

if a % 400 == 0 or (a % 4 == 0 and a % 100 != 0) :
    c =29
else:
    c 
        
if b < 8 :
    if b % 2 == 0 :
        if b == 2:
            print(c)
        else:
            print(30)
    else:
        print(31)
else:
    if b % 2 == 0:
        print(31)
    else:
        print(30)

29

1218번

In [87]:
a = list(map(int,input().split()))
a.sort()

if a[0] + a[1] > a[2]:
    if a[0] == a[1] and a[1] == a[2]:
        print('정삼각형')
    elif a[0] == a[1] or a[1] == a[2] or a[2] == a[0]:
        print('이등변삼각형')
    elif a[0]**2 + a[1]**2 == a[2]**2:
        print('직각삼각형')
    else:
        print('삼각형')
else: print('삼각형아님')

정삼각형

1222번

In [88]:
a, b,d =  map(int,input().split())

c = 0

while a < 90 :
    a += 5
    c += 1

f = c + b

if d > f :
    print("lose")
elif d == f:
    print("same")
else:
    print("win")

same

1224번

In [136]:
a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = a[:6]
d = 0
e = a[-1]

for i in range(6):
    if b[i] == c[i]:
        d +=1

bonus = False
if e in b:
    bonus = True

if d == 6:
    print(1)
elif d == 5 and bonus:
    print(2)
elif d == 4 :
    print(4)

4

1128번

In [139]:
a,b = map(float,input().split())

c = (a - 100) * 0.9
d = round(((b - c) * 100)/c, 2)

if d <= 10:
    print('정상')
elif 10 < d <= 20:
    print('과체중')
else:
    print('비만')

비만

1229번

In [140]:
a,b = map(float,input().split())

if a < 150 :
    c = (a - 100)
elif 150 <= a < 160:
    c = (a - 150)/2 + 50
else:
    c = (a - 100)*0.9
    
d = round(((b - c) * 100)/c, 2)

if d <= 10:
    print('정상')
elif 10 < d <= 20:
    print('과체중')
else:
    print('비만')

과체중

1230번

In [148]:
a, b, c =map(int,input().split())

if(a <= 170):
    print('CRASH ' + str(a))
elif(b <= 170):
    print('CRASH ' + str(b))
elif(c <= 170):
    print('CRASH ' + str(c))
else:
    print('PASS')

CRASH 168

1231번

In [188]:
a = input() # 10+10

for i in range(len(a)):
    if a[i] == '+': # '+'가 기준이 되기 때문에 여기서 0 은 '+'이다
        b = int(a[:i]) # '+'까지의 값 
        c = int(a[i+1:]) #'+'부터 끝까지 /i+1를 해 '+'를 건너뛰게 하기 위해
        result = b + c
        print(result)
    elif a[i] == '-':
        b = int(a[:i])
        c = int(a[i+1:])
        result = b - c
        print(result)
    elif a[i] == '*':
        b = int(a[:i])
        c = int(a[i+1:])
        result = b * c
        print(result)
    elif a[i] == '/':
        b = int(a[:i])
        c = int(a[i+1:])
        result = float(b)/ float(c)
        print(round(result,2))

20

# 3. 단순 반복문

1255번

In [37]:
a,b = map(float,input().split())

while a <=b :
    print(format(a,'.2f'),end=' ')
    a += 0.01

2.00 2.01 2.02 2.03

1258번

In [48]:
a = int(input())
sum = 0
for i in range(1,a+1):
    sum += i
print(sum)

5050

1261번

In [81]:
a = list(map(int,input().split()))

for i in range(len(a)):
    if a[i] % 5 == 0 :
        print(a[i])
        break
else:
    print(0)

5

1268번

In [98]:
a = int(input())
b = list(map(int,input().split()))
sum = 0
for i in b:
    if i % 2 == 1:
        sum += 1
        
print(sum)

4

1272번

In [118]:
a,b = map(int,input().split())
money  = 0
if a % 2 == 1:
    money += a // 2 +1 
else:
   money += a / 2 * 10

if b % 2 == 1:
    money += b // 2 + 1
else:
    money += b // 2 * 10
print(int(money))

11

1273번

In [205]:
a =int(input())

for i in range(1,a+1):
    if a % i == 0:
        print(i,end=' ')

1 3 7 21

1274번

In [131]:
a = int(input())
count = 0

for i in range(1,a+1):
    if a % i == 0:
        count += 1


if count == 2 :
    print("prime")
else:
    print("not prime")

not prime

1280번

In [175]:
a,b = map(int,input().split())
sub = 0
add = 0
for i in range(a,b+1):
    if i % 2 == 0 :
        sub -= i
        print(-i,end ='')
    else:
        add += i
        print(f'+{i}',end='')
print(f'={sub+add}')

+5-6+7=6

1281번

In [181]:
a,b = map(int,input().split())
sub = 0
add = 0
for i in range(a,b+1):
    if i % 2 == 0 :
        sub -= i
        print(-i,end ='')
    else:
        if a == i:
            add += i
            print(f'{i}',end='')
        else:
            add += i
            print(f'+{i}',end='')
print(f'={sub+add}')

5-6+7=6

1281번

In [182]:
import math

n = int(input())
k = 0

for i in range(1, n):
    if math.sqrt(n - i) % 1 == 0:
        k = i
        n = int(math.sqrt(n - 1))
        break

print(k, n)

9 5

1283번

In [197]:
a = int(input())
b = int(input())
c = list(map(int,input().split()))
d = a

for i in range(b):
    a += a * (c[i]/100)
    
f = round(a)-d
print(f)
if f < 0 :
    print('bad')
elif f == 0:
    print('same')
else:
    print('good')

-125
bad

1284번

소수  = 1과 자기 자신만을 약수로 가지는 수

print(*b)  = 원래대로 print(b)를 하면 [3,7]로 나오지만  앞과 같이 *를 붙이면 대괄호 없이 한번에 출력 가능하다

In [208]:
a = int(input()) 
b = []

# 1과 자기자신을 제외한 a의 약수 b배열에 넣기
for i in range(2, a):
    if a % i == 0:
        b.append(i)

if len(b) == 2:
    if 4 in b:  # 4가 포함되있으면
        print("wrong number")
    else:
        print(*b) 

else:
    print("wrong number")

3 7

1285번 (다시 보자)

In [213]:
a = input() #문자열
b = '' #계산할 정수 저장하는 변수

ops = ['+', '-', '*', '/', '='] #연산기호들
op = '' #현재 연산기호 저장할 변수

result = 0 #계산결과

#계산식을 한글자씩 돌린다.
for i in a:

    #현재글자가 연산기호에 해당한다면 
    if i in ops:

        #연산기호에 따른 계산이 가능하게끔 n을 정수로 바꿔준다.
        b = int(b) 

        #s[0]을 result에 할당한다.
        if op == '': #현재 저장된 연산기호가 없다면
            result = b #n을 result에 저장

        #부호에 따른 계산     
        elif op == '+':
            result += b
        elif op == '-':
            result -= b
        elif op == '*':
            result *= b
        elif op == '/':
        	#정수형 결과가 나오도록 '//'를 써야한다.
            result //= b 

        #n과 연산기호 초기화
        b = ''  
        op = i

    #현재글자가 숫자라면 n에 i값 추가
    else:
        b += i

print(result)

3

1294번

In [223]:
a = input()
b = ''

for i in range(0, len(a)):
    if a[i] == ' ':
        b += a[i]
    elif ord(a[i]) > 119:
        if a[i] == 'x':
            b += 'a'
        elif a[i] == 'y':
            b += 'b'
        elif a[i] == 'z':
            b += 'c'
    else:
        code = ord(a[i]) + 3
        b += chr(code)

print(b)

qhyhu wuxvw euxwxv

1675번

In [226]:
a = input()
b = ''

for i in range(0, len(a)):
    if a[i] == ' ':
        b += a[i]
    elif a[i] == 'a':
        b += 'x'
    elif a[i] == 'b':
        b += 'y'
    elif a[i] == 'c':
        b += 'z'
    else:
        c = ord(a[i]) - 3
        b += chr(c)

print(b)

never trust brutus

1295번

In [227]:
a = input()

print(a.swapcase())

cODEcHALLENGE2014WITHmsp

# 4. 중첩 반복문

1354번

In [26]:
a = int(input())
for i in range(a,-1,-1):
    print('*'*(i))

***
**
*

In [158]:
a = int(input())

for i in range(0,a):
    for j in range(0,a-i):
        print('*',end='')
    print('')

****
***
**
*

1355번

In [28]:
a = int(input())
for i in range(a,0,-1):
    print(' '*(a-i)+'*'*(i))

***
 **
  *

In [156]:
a = int(input())

for i in range(0,a):
    for j in range(0,i):
        print(' ',end='')
    for k in range(0,a-i):
        print('*',end='')
    print('')

*****
 ****
  ***
   **
    *

피라미드 찍기
```py

     *       # 공백 5칸 + 별 1개
    ***      # 공백 4칸 + 별 3개
   *****     # 공백 3칸 + 별 5개
  *******    # 공백 2칸 + 별 7개
 *********   # 공백 1칸 + 별 9개
***********  # 공백 0칸 + 별 11개

```

In [151]:
a = int(input())

for i in range(0,a):
    b = ' '*(a-i) # 공백 개수
    c = '*'*(1+i*2) # 별 개수
    print(c+b)

     *
    ***
   *****
  *******
 *********

```py
***********  # 공백 0칸 + 별 11개
 *********   # 공백 1칸 + 별 9개
  *******    # 공백 2칸 + 별 7개
   *****     # 공백 3칸 + 별 5개
    ***      # 공백 4칸 + 별 3개
     *       # 공백 5칸 + 별 1개
```

In [39]:
for i in range(6):
    print(' '*(i)+'*'*(11-(i*2))) # 공백 개수 + 별 개수

***********
 *********
  *******
   *****
    ***
     *

In [164]:
a = int(input())

for i in range(0,a):
    b = ' '*(i) # 공백 개수
    c = '*'*(i*2-1) # 별 개수
    print(c+b)

*
***
*****
*******

다이아 몬드

In [74]:
for i in range(6):
    print(' '*(5-i)+'*'*(1+(i*2)))
for i in range(5,0,-1):
    print(' '*(6-i)+'*'*((i*2)-1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

1356번

In [175]:
a = int(input())

for i in range(1,a+1):
    if (i == 1) or (i == a): # 맨 마지막 줄과 첫본째 줄에 별
        for j in range(1,a+1):
            print('*', end='')
        print("")
    
    else:
        print('*',end='') # 왼쪽 별  개
        for i in range(1,a-1): # 별과 별 사이의 공백 (공백은 1~4 까지)
            print(' ',end='')
        print('*',end='')
        print('')

*****
*   *
*   *
*   *
*****

1357번

In [128]:
a = int(input())

for i in range(a):
    print('*'*i)
for i in range(a,0,-1):
    print('*'*i)

*
**
*

In [132]:
a= int(input())
for i in range(1,a+1):
    for j in range(0,i):
        print('*',end='')
    print('')
    
for i in range(a-1,0,-1):
    for j in range(0,i):
        print('*',end='')
    print('')

*
**
***
****
***
**
*

1358번

In [141]:
a = int(input())

for i in range(1,a+1):
    if i % 2 == 1:
        b = '*'*(i)
        print(b.center(a))

  *
 ***
*****

1361번

In [169]:
a = int(input())

for i in range(0,a):
    for j in range(0,i):
        print(' ',end='')
    print('**')

**
 **
  **

1365번

In [194]:
a = int(input())

for i in range(0, a): # 맨 위에 줄 별 
    print('*', end='')
print()

for i in range(1, a-1):
    for j in range(0, a):
        if (j == 0) or (j == i) or (j == a-1) or (j == a-i-1):
            print('*', end='')
        else:
            print(' ', end='')
    print()
    
for i in range(0, a): # 맨 아래줄 별
    print('*', end='')
print()

*********
**     **
* *   * *
*  * *  *
*   *   *
*  * *  *
* *   * *
**     **
*********

# 5. 1차원 배열

# 6. 문자열

# 7. 2차원 배열

# 8. 데이터 정렬

# 9. 함수